<div class="container-fluid">
  <div class="row">

    <div class="col-lg-12">
      <h1 class="text-center">Classements</h1>
    </div>

    <div class="col-lg-6">
      <div class="float-left">
        <p>Moyenne Score : {{ average }}</p>
      </div>
      <div class="float-right">
        <button class="btn btn-info btn-sm" (click)="onSortList()">
          <i class="material-icons">{{ iconSort }}</i>
        </button>
      </div>
      <div class="clearfix"></div>
      <div class="content-container" *ngFor="let rating of ratings">
        <div class="title">
          <h3 class="text-center">
            <a (click)="onSelect(rating)">
              <i class="material-icons">edit</i>
              {{ rating.name }}
            </a>
          </h3>
        </div>
        <div class="rate">
          <span class="float-left">
            {{ rating.username }}
          </span>
          <span class="float-right">
            Score : {{ rating.score }}
          </span>
        </div>
        <div class="clearfix"></div>
        <div class="comment">
          <p>{{ rating.comment }}</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12 content-container">
          <h2 class="text-center">Création d'un vote</h2>
          <form (ngSubmit)="onSubmit()" #ratingForm="ngForm">
            <div class="form-row">
              <div class="col-12">
                <div class="form-group">
                  <label for="create_name">Nom d'entreprise</label>
                  <input type="text" class="form-control" id="create_name" name="name" [(ngModel)]="newRating.name" #name="ngModel" required>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="create_username">Pseudo</label>
                  <input type="text" class="form-control" id="create_username" name="username" [(ngModel)]="newRating.username" #username="ngModel">
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="create_rate">Note</label>
                  <input type="number" class="form-control" id="create_rate" name="score" [(ngModel)]="newRating.score" #score="ngModel" min="0" max="5">
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="create_comment">Commentaire</label>
                  <textarea class="form-control" id="create_comment" name="comment" [(ngModel)]="newRating.comment" #comment="ngModel"></textarea>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-success" (click)="createRating()">Ajouter</button>
            </div>
          </form>
        </div>

        <div class="col-lg-12 content-container" *ngIf="selectedRating">
          <h2 class="text-center">Modification du vote</h2>
          <div class="form-row">
            <div class="col-12">
              <div class="form-group">
                <label for="update_name">Nom d'entreprise</label>
                <input type="text" class="form-control" id="update_name" name="name" [(ngModel)]="selectedRating.name" required>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="update_username">Pseudo</label>
                <input type="text" class="form-control" id="update_username" name="username" [(ngModel)]="selectedRating.username">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="update_rate">Note</label>
                <input type="number" class="form-control" id="update_rate" name="score" [(ngModel)]="selectedRating.score" min="0" max="5">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="update_comment">Commentaire</label>
                <textarea class="form-control" id="update_comment" name="comment" [(ngModel)]="selectedRating.comment"></textarea>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-success" (click)="selectedRating=null; updateRating()">Modifier</button>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
